@font-face {
  font-family: 'ImperialScript';
  src: url('fonts/ImperialScript/ImperialScript-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e3e2e2;
}

header {
  margin-bottom: 40px;
  height: 110px;
  background-color: #352B22;
}

main {
  margin-bottom: 40px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background-color: #556349;
}

.main__gold__line {
  margin-top: 50px;
  height: 5px;
  background-color: #e5924f;
}

footer {
  padding-top: 40px;
  min-height: 200px;
  background-color: #352B22;
  color: #D9D9D9;
}
